* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 102, 255, 0.703);
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.calculator {
  height: auto;
  width: auto;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 30px black;
}

#display {
  height: 150px;
  width: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
}

button {
  height: 60px;
  width: 60px;
  border: 0;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
}

button#equal {
  height: 130px;
  background-color: darkgray;
  color: black;
  border-radius: 15px;
  box-shadow: 0 0 8px black;
}

.calculator button#clear {
  background-color: crimson;
  color: white;
  border-radius: 15px;
  box-shadow: 0 0 8px black;
}

.calculator button.btn-operator {
  background-color: black;
  color: white;
  border-radius: 15px;
  box-shadow: 0 0 8px black;
}

.calculator button.btn-number {
  background-color: black;
  color: white;
  border-radius: 15px;
  box-shadow: 0 0 8px black;
}
